/* header section's styles */
.header{
    background-image: url('../images/banner/banner3.png');
    width: 1500px;
    height: 808px;
    display: flex;
    justify-content: center;

}
.header-message{
    padding-right: 100px;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-title{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    height: 150px;
    /* width: 400px; */
    
}
.header-description{
    height: 130px;
    /* width: 494px; */
    margin-right: 0;
}
.header-description p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;

}